body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #1F1F1F;
  font-weight: 400;
}

.none {
  display: none !important;
}

.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Links */
a {
  transition: all 0.3s ease;
}

a:hover {
  color: #1c6bff;
}
/* End links */

/* Btn */
.btn, a.btn {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 9px 32px;
  border: none;
  background-color: #1F1F1F;
  font-size: 17px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.btn:hover, a.btn:hover {
  background-color: #fff;
  border: 1px solid #1F1F1F;
  color: #000;
  transform: scale(1.2);
}