body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #1F1F1F;
  font-weight: 400;
}

.body-no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.none {
  display: none !important;
}

.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Links */
a {
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: #1c6bff;
}
/* End links */

/* Btn */
.btn, a.btn {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 9px 32px;
  border: none;
  background-color: #1F1F1F;
  font-size: 17px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.btn:hover, a.btn:hover {
  background-color: #fff;
  border: 1px solid #1F1F1F;
  color: #000;
  transform: scale(1.2);
}

/* Form */

.form__input {
  font-size: 20px;
  border-bottom: 1px solid #000;
  padding: 10px;
  transition: all 0.3s ease;
}

.form__input:focus {
  outline: 1px solid #000;
  border-radius: 10px;
  border-bottom: 1px solid #fff;
}

.form__input + * {
  margin-top: 30px;
}

.form__message {
  resize: none;
  padding: 10px;
  -webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.06);
          box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  border-radius: 10px;
  font-size: 20px;
  line-height: 38px;
  color: #000;
  outline: none;
}

.form__message:focus {
  outline: 1px solid #000;
}

/* Mobile */

@media (max-width: 1180px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .btn, a.btn {
    padding: 9px 21px;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 15px;
  }

  .btn, a.btn {
    font-size: 15px;
  }
}