.header {
  padding: 20px 16px;
  min-height: 75px;
  top: -75px;
  transition: top 0.4s ease;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  line-height: 22px;
}

.header-nav__list {
  display: flex;
}

.header-nav__list li + li {
  margin-left: 26px;
}

.header.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 730px) {
  .header-row {
    flex-direction: column;
  }

  .header-row > img + * {
    margin-top: 10px;
  }
}

@media (max-width: 530px) {
  .header-row {
    flex-direction: row;
  }

  .header-nav {
    display: none;
  }
}