.aboutus {
  padding: 100px 0 80px;
}

.aboutus-content {
  padding: 80px 40px;
  display: flex;
}

.aboutus-content--reverse {
  flex-direction: row-reverse;
}

.aboutus-content--color {
  background-color: #F7F6F3;
}

.aboutus-titles {
  width: 40%;
}

.aboutus-titles--mr {
  margin-right: 111px;
}

.aboutus-titles--ml {
  margin-left: 80px;
}

.aboutus-titles__title {
  font-size: 37px;
  line-height: 49px;
}

.aboutus-titles__subtitle {
  font-family: 'Libre Baskerville';
  font-size: 35px;
  line-height: 49px;
  letter-spacing: 0.2px;
}

.aboutus-titles>a {
  display: inline-block;
  margin: 35px 0 0 32px;
  font-size: 17px;
}

.aboutus-description {
  width: 60%;
}

.aboutus-description--big {
  width: 70%;
}

.aboutus-description>hr {
  border: 1px solid #6D6B67;
}

.aboutus-description__text {
  margin-top: 27px;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.2px;
}

.aboutus-description__text--big {
  font-size: 20px;
  line-height: 30px;
}

.aboutus-description>p+* {
  margin-top: 36px;
}

.aboutus-statistics {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 25%;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.statistic:not(:last-child()) {
  margin-right: 0;
}

.statistic:nth-child(3),
.statistic:nth-child(4) {
  margin-bottom: 0;
}

.statistic__number {
  font-family: 'Libre Baskerville';
  font-size: 72px;
}

.statistic__text {
  display: inline-block;
  margin-top: 9px;
}

.block__paragraph-big {
  max-width: 600px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 37px;
}

.block__wrap {
  display: flex;
  max-width: 600px;
}

.block__wrap p {
  width: 50%;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.block__wrap>p+p {
  margin-left: 39px;
}

.block__wrap span {
  display: block;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 14px;
}

@media (max-width: 1135px) {
  .aboutus {
    padding: 80px 0 40px;
  }

  .aboutus-content {
    padding: 70px 40px;
  }
}

@media (max-width: 1024px) {
  .aboutus {
    padding: 50px 0 30px;
  }

  .aboutus-content {
    padding: 55px 30px;
  }

  .aboutus-titles--mr {
    margin-right: 75px;
  }

  .statistic {
    margin-bottom: 25px;
  }

  .statistic__number {
    font-size: 62px;
  }

  .statistic__text {
    margin-top: 5px;
  }

  .aboutus-description__text--big {
    font-size: 19px;
  }

  .aboutus-description>p+* {
    margin-top: 28px;
  }

  .aboutus-titles--ml {
    margin-left: 55px;
  }

  .aboutus-titles__title {
    font-size: 35px;
    line-height: 45px;
  }

  .aboutus-titles__subtitle {
    font-size: 32px;
    line-height: 45px;
  }

  .aboutus-titles>a {
    margin: 30px 0 0 20px;
    font-size: 17px;
  }
}

@media (max-width: 950px) {
  .aboutus {
    padding: 35px 0 20px;
  }

  .aboutus-content {
    padding: 40px 25px;
    align-items: center;
  }

  .aboutus-titles__title {
    font-size: 34px;
    line-height: 40px;
  }

  .aboutus-titles__subtitle {
    font-size: 30px;
    line-height: 40px;
  }

  .aboutus-titles--mr {
    margin-right: 35px;
  }

  .aboutus-titles--ml {
    margin-left: 40px;
  }

  .aboutus-description__text {
    margin-top: 20px;
  }

  .aboutus-description>p+* {
    margin-top: 20px;
  }

  .statistic__number {
    font-size: 58px;
  }

  .statistic__text {
    margin-top: unset;
  }

  .block__wrap {
    flex-direction: column;
  }

  .block__wrap p {
    width: 100%;
  }

  .block__wrap span {
    margin-bottom: 10px;
  }

  .block__wrap>p+p {
    margin-left: unset;
    margin-top: 18px;
  }
}

@media (max-width: 768px) {
  .aboutus-content {
    padding: 30px 25px;
    flex-direction: column;
  }

  .aboutus-titles {
    width: 100%;
    text-align: center;
  }

  .aboutus-titles+* {
    margin-top: 30px;
  }

  .aboutus-titles--mr {
    margin-right: unset;
  }

  .aboutus-titles--ml {
    margin-left: unset;
  }

  .aboutus-titles>a {
    margin: 20px 0 0 0px;
  }

  .aboutus-description {
    width: 100%;
  }

  .aboutus-statistics {
    justify-content: center;
  }

  .statistic {
    margin-bottom: unset;
  }

  .statistic__number {
    font-size: 50px;
  }

  .block__wrap {
    max-width: unset;
    width: 100%;
  }
}

@media (max-width: 530px) {
  .aboutus-content {
    padding: 25px 25px;
  }

  .aboutus-titles__title {
    font-size: 32px;
    line-height: 35px;
  }

  .aboutus-titles__subtitle {
    font-size: 27px;
    line-height: 35px;
  }

  .aboutus-titles+* {
    margin-top: 20px;
  }

  .aboutus-description__text--big {
    font-size: 18px;
    line-height: 26px;
  }
}