.recentwork {
  width: 100%;
  padding: 100px 16px;
}

.recentwork-heading__title {
  font-size: 58px;
  letter-spacing: 0.2px;
  color: #1F1F1F;
}

.recentwork-cards {
  margin-top: 44px;
  display: flex;
}

.recentwork-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.recentwork-row:nth-child(odd) {
  margin-right: 80px;   
}

.recentwork-btn {
  display: flex;
}
